@import url("../variables.css");

.Container-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-bottom: 90px;
  margin-top: 90px;

  .title {
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    color: var(--primaryText-color);
  }
}

.box-carrosell {
  min-width: 320px;
  width: 100%;
  max-width: 390px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  img{
    max-width: 420px;
  }
  .box-title{
    min-width: 200px;
    max-width: 350px;
    bottom: 0;
    margin: 0px 0px 40px 0px;
    padding: 4px;

    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    h4{
      background-color: var(--primary-color);
      padding: 4px;
      border-radius: 2px;
      font-size: 18px;
      color: var(--secondaryText-color);
    }

    span{
      font-size: clamp(0.5rem,0.9rem,5.9rem);
      word-wrap: break-word;
      color: var(--terciaryText-color);
    }
    z-index: 2;
  }


  .swiper{
    padding-bottom: 70px;
  }

  .swiper-pagination-bullet-active {
    width: 40px;
    background-color: #000000b9 !important; /* Ex: Verde do Tailwind */
  }

  /* Cor dos pontos que não estão selecionados */
  .swiper-pagination-bullet {
    background-color: #c9c9c9;
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}
