@import url("../variables.css");

.container-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 220px;

  padding: 10px;

  .box-title {
    margin-bottom: 20px;
    span {
      font-weight: 600;
      font-size: 22px;
      color: var(--primaryText-color);
    }
  }

  .map {
    width: 350px;
  }
}
