@import url("../variables.css");

.box-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  margin: 20px 10px 40px 10px;
  transition: all linear 0.2s;

  .box-titleSec {
    width: 100%;
    transition: all linear 0.2s;
    span {
      font-size: 15px;
      font-weight: 600;
      color: var(--primaryText-color);
      transition: all linear 0.2s;
    }
  }

  .box-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
    width: 100%;
    transition: all linear 0.2s;
    .groupCard {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 4px;
      .card {
        width: 100%;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 160px;
      border-radius: 12px;
      border: 1px solid #d3d3d3;
      box-shadow: none;

      .box-icon {
        margin-top: 12px;
        margin-bottom: 15px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #93fcb942;

        svg {
          width: 24px;
          height: 24px;
          fill: #1d5c33;
        }
      }
      .box-title {
        display: flex;
        gap: 7px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
          color: var(--primary-color);
        }
        span {
          font-weight: 400;
          font-size: 13px;
          color: var(--terciaryText-color);
        }
      }
    }
  }
}

.box-actions {
  margin: 20px 10px 40px 10px;
  transition: all linear 0.2s;
  span {
    font-size: 14px;
    font-weight: 600;
    color: var(--primaryText-color);
    transition: all linear 0.2s;
  }

  .box-cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
    transition: all linear 0.2s;
    .card {
      width: 100%;
      height: 87px;

      border-radius: 4px;
      background-color: white;
      box-shadow: 0px 2px 3px 0px rgb(217, 217, 217);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box-info {
        pointer-events: none;
        margin-left: 18px;
        display: flex;
        flex-direction: row;

        .box-icon {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 29px;
          }
        }
        .box-titles {
          display: flex;
          flex-direction: column;
          gap: 5px;
          h2 {
            margin-bottom: 0px;
          }
        }
      }

      .box-titles {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        margin-left: 20px;
        h2 {
          font-size: 13px;
          color: var(--primaryText-color);
        }
        span {
          font-size: 12px;
          color: var(--terciaryText-color);
          font-weight: 300;
          width: 230px;
        }
      }
      .box-arrow {
        display: flex;
        margin-right: 10px;
        transition: all linear 0.1s;
      }

      &:hover {
        background-color: #085422c6;

        .box-titles {
          h2 {
            color: white;
          }
          span {
            color: rgb(190, 190, 190);
          }
        }
        .box-arrow {
          margin-right: 0px;
          svg {
            fill: white;
          }
        }
        .box-info {
          .box-icon {
            border: 1px solid rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

.box-ferramenta {
  margin: 20px 10px 40px 10px;
  transition: all linear 0.2s;
  span {
    font-size: 14px;
    font-weight: 600;
    color: var(--primaryText-color);
    transition: all linear 0.2s;
  }
  .box-card {
    margin-top: 10px;
    transition: all linear 0.2s;
    .card {
      width: 100%;
      height: 87px;
      border-radius: 4px;
      box-shadow: 0px 2px 3px 0px rgb(217, 217, 217);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all linear 0.2s;
      .box-info {
        pointer-events: none;
        margin-left: 18px;
        display: flex;

        .box-icon {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 29px;
          }
        }
      }

      .box-titles {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        margin-left: 20px;
        h2 {
          font-size: 13px;
          color: var(--primaryText-color);
        }
        span {
          font-size: 12px;
          color: var(--terciaryText-color);
          font-weight: 300;
          width: 230px;
        }
      }
      .box-arrow {
        display: flex;
        margin-right: 10px;
      }

      &:hover {
        background-color: #085422c6;

        .box-titles {
          h2 {
            color: white;
          }
          span {
            color: rgb(190, 190, 190);
          }
        }
        .box-arrow {
          margin-right: 0px;
          svg {
            fill: white;
          }
        }
        .box-info {
          .box-icon {
            border: 1px solid rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .box-adm {
    .container-welcome {
      display: flex;
      justify-content: center;
      .box-welcome {
        width: 768px;
      }
    }
    .box-geral {
      .box-titleSec {
        display: flex;
        width: 580px;
        span {
          width: 980px;
          font-size: 14px;
          font-weight: 600;
          color: var(--primaryText-color);
        }
      }
      .box-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 89%;

        .groupCard {
          width: 520px;
          display: flex;
          justify-content: center;
          transition: all linear 0.2s;
          .card {
            width: 520px;
          }
        }
        .card {
          width: 520px;
        }
      }
    }
    .box-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 593px;
      }
      .box-cards {
        width: 570px;
      }
    }
    .box-ferramenta {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 593px;
      }
      .box-card {
        width: 570px;
      }
    }
  }
}
@media (min-width: 768px) {
  .box-adm {
    .container-welcome {
      display: flex;
      justify-content: center;
      .box-welcome {
        width: 992px;
      }
    }
    .box-geral {
      .box-titleSec {
        display: flex;
        width: 743px;
        span {
          width: 843px;
          font-size: 14px;
          font-weight: 600;
          color: var(--primaryText-color);
        }
      }
      .box-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 89%;

        .groupCard {
          width: 640px;
          display: flex;
          justify-content: center;
          .card {
            width: 100%;
          }
        }
        .card {
          width: 640px;
        }
      }
    }
    .box-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 743px;
      }
      .box-cards {
        width: 723px;
      }
    }
    .box-ferramenta {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 743px;
      }
      .box-card {
        width: 723px;
      }
    }
  }
}
@media (min-width: 992px) {
  .box-adm {
    .container-welcome {
      display: flex;
      justify-content: center;
      .box-welcome {
        width: 980px;
      }
    }
    .box-geral {
      .box-titleSec {
        display: flex;
        width: 980px;
        span {
          width: 980px;
          font-size: 14px;
          font-weight: 600;
          color: var(--primaryText-color);
        }
      }
      .box-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 89%;

        .groupCard {
          display: flex;
          justify-content: start;
          width: 450px;
          margin: 0px;
          gap: 10px;
          .card {
            width: 225px;
            height: 225px;
          }
        }
        .card {
          width: 220px;
          height: 225px;
        }
      }
    }
    .box-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 980px;
      }
      .box-cards {
        width: 950px;
      }
    }
    .box-ferramenta {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        text-align: start;
        width: 980px;
      }
      .box-card {
        width: 950px;
      }
    }
  }
}

.containerPlantio > .box-map {
  margin-top: 120px;
  width: 100vw;
  height: 649px;
  position: relative;

  .map-wrapper {
    height: 100%;

    .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim {
      border-radius: 40px 40px 0px 0px !important;
    }
  }
}

.containerPlantio > .box-map > .map-wrapper.is-fullscreen {

  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim {
    border-radius: 0px 0px 0px 0px !important;
  }
}

.map-wrapper.is-fullscreen {
  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim {
    border-radius: 0px 0px 0px 0px !important;
  }
}
